<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Copy Example</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="app" ng-controller="appCtrl">
    <div class="side">
      <p>Blank 1 <input type="text" ng-model="b1"></p>
      <p>Blank 2 <input type="text" ng-model="b2"></p>
      <p>Blank 3 <input type="text" ng-model="b3"></p>
      <p>Blank 4 <input type="text" ng-model="b4"></p>
      <button ng-click="copy()">Copy</button>
    </div>
    <div class="main">
      <p class="p1">But I must {{ b1 }} to you how all this mistaken idea of denouncing {{ b2 }} and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of {{ b3 }} happiness. No one rejects, dislikes, or avoids {{ b2 }} itself, because it is {{ b2 }}, but because those who do not know how to pursue {{ b2 }} rationally encounter {{ b4 }} that are extremely painful.
      </p>
      <p class="p2">But I must {{ b1 }} to you how all this mistaken idea of denouncing {{ b2 }} and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of {{ b3 }} happiness. No one rejects, dislikes, or avoids {{ b2 }} itself, because it is {{ b2 }}, but because those who do not know how to pursue {{ b2 }} rationally encounter {{ b4 }} that are extremely painful.
      </p>
      <p class="p3">But I must {{ b1 }} to you how all this mistaken idea of denouncing {{ b2 }} and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of {{ b3 }} happiness. No one rejects, dislikes, or avoids {{ b2 }} itself, because it is {{ b2 }}, but because those who do not know how to pursue {{ b2 }} rationally encounter {{ b4 }} that are extremely painful.
      </p>
      <p class="p4">But I must {{ b1 }} to you how all this mistaken idea of denouncing {{ b2 }} and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of {{ b3 }} happiness. No one rejects, dislikes, or avoids {{ b2 }} itself, because it is {{ b2 }}, but because those who do not know how to pursue {{ b2 }} rationally encounter {{ b4 }} that are extremely painful.
      </p>
    </div>
  </body>
</html>
